<footer>
  <div class="outer-container">
    <div class="container">
      <ul>
        <li>
          <%= link_to t('menu.home.title'), root_path %>
        </li>
        <li>
          <%= link_to t('menu.us.title'), us_path %>
        </li>
        <li>
          <%= link_to t('menu.products.title'), products_path %>
        </li>
        <li>
          <%= link_to t('menu.orders.title'), orders_path %>
        </li>
        <li>
          <%= link_to t('menu.shop.title'), shop_path %>
        </li>
        <li>
          <%= link_to t('menu.contact.title'), contact_path %>
        </li>
      </ul>
    </div>
  </div>
</footer>