<!DOCTYPE html>
<html>
<head>
  <title><%= t('meta.title') %></title>

  <meta name="keywords" content="<%= t('meta.keywords') %>" />
  <meta name="description" content="<%= t('meta.description') %>" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="outer-container">
  <%= render 'header' %>

  <%= yield %>
</div>

<%= render 'footer' %>

<%= javascript_include_tag "application" %>
<%= render 'google_analytics' %>
<%= render 'facebook' %>
</body>
</html>
